@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.cabecalho {
    height: 60px;
    border-bottom: 2px solid rgb(46, 0, 155);
    font-size: 15px;
    background-color: rgb(116, 128, 240);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}

.cabecalho-titulo {
    margin-left: 2%;
}


.quiz-principal {
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgb(189, 234, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}